---
layout: default
title: Possel
---

<div class="imsogoodatnamingdivs">
  <div class="dooblydoo">
    <h2><i class="fa fa-users"></i> <span class="spacer"></span>
      34 <span class="spacer"></span> In this channel</h2>
  </div>

  <div class="nickwrap">
    <ul class="nicklist">
      <li class="oper active"><a href="">angusp</a></li>
      <li class="oper"><a href="">carrot</a></li>
      <li class="oper active"><a href="">COMPSOC</a></li>
      <li class="oper active"><a href="">KitB</a></li>
      <li class="oper"><a href="">neanias</a></li>
      <li class="voice"><a href="">rhiaro</a></li>
      <li class="voice"><a href="">botbot</a></li>
      <li><a href="">Abish</a></li>
      <li><a href="">amazoph</a></li>
      <li class="active"><a href="">Bletherer</a></li>
      <li class="active"><a href="">bmoriarty</a></li>
      <li class="active"><a href="">edran</a></li>
      <li><a href="">Jammy</a></li>
      <li class="active"><a href="">oliland</a></li>
      <li><a href="">Curabitur</a></li>
      <li><a href="">non</a></li>
      <li><a href="">tortor</a></li>
      <li><a href="">vel</a></li>
      <li><a href="">leo</a></li>
      <li><a href="">rutrum</a></li>
      <li><a href="">ultricies</a></li>
      <li><a href="">non</a></li>
      <li><a href="">in</a></li>
      <li><a href="">urna</a></li>
      <li><a href="">Cras</a></li>
      <li><a href="">tincidunt</a></li>
      <li><a href="">massa</a></li>
      <li><a href="">et</a></li>
      <li><a href="">massa</a></li>
      <li><a href="">feugiat</a></li>
      <li><a href="">vulputate</a></li>
      <li><a href="">Integer</a></li>
      <li><a href="">fermentum</a></li>
      <li><a href="">nec</a></li>
      <li><a href="">magna</a></li>
      <li><a href="">vitae</a></li>
      <li><a href="">egestas</a></li>
      <li><a href="">Nunc</a></li>
      <li><a href="">non</a></li>
      <li><a href="">blandit</a></li>
      <li><a href="">velit</a></li>
      <li><a href="">Cras</a></li>
      <li><a href="">justo</a></li>
      <li><a href="">neque</a></li>
      <li><a href="">porta</a></li>
      <li><a href="">ut</a></li>
      <li><a href="">ligula</a></li>
      <li><a href="">cursus</a></li>
      <li><a href="">ultricies</a></li>
      <li><a href="">commodo</a></li>
      <li><a href="">risus</a></li>
      <li><a href="">Donec</a></li>
      <li><a href="">est</a></li>
      <li><a href="">dui</a></li>
      <li><a href="">euismod</a></li>
      <li><a href="">quis</a></li>
      <li><a href="">ullamcorper</a></li>
      <li><a href="">sit</a></li>
      <li><a href="">amet</a></li>
      <li><a href="">luctus</a></li>
      <li><a href="">egestas</a></li>
      <li><a href="">risus</a></li>
      <li><a href="">Vivamus</a></li>
      <li><a href="">nec</a></li>
      <li><a href="">mattis</a></li>
      <li><a href="">turpis</a></li>
      <li><a href="">Nullam</a></li>
      <li><a href="">consectetur</a></li>
      <li><a href="">nec</a></li>
      <li><a href="">orci</a></li>
      <li><a href="">ut</a></li>
      <li><a href="">rutrum</a></li>
    </ul>
  </div>
</div><!-- /.imsogoodatnamingdivs -->

<header class="topic">
  <span class="channame">#compsoc</span>
  <span class="pull-right chanmeta">
    <button type="button" class="btn btn-sm btn-hover-primary btn-default">
      <i class="fa fa-close"></i> &nbsp; leave
    </button>
    <button type="button" class="btn btn-sm btn-hover-primary btn-default">
      <i class="fa fa-arrows-alt"></i>
    </button>
    <button type="button" class="btn btn-sm btn-hover-primary btn-default">
      <i class="fa fa-search"></i>
    </button>
  </span>
  <span class="chantopic">
    COMPSOC &lt;3 FRESHERS | EGM & STMU 21st Oct in the IF! | See also #compsoc-minecraft
    (now with more KSP), #compsoc-ss13, #tardis and #sigint for alumni
  </span>
</header>


<div class="chatblock">
  <div class="chatwrap oldstyle">
    <div>
      <span class="usermsgtime">12:05</span>
      <span class="usernick" style="color: #048A81;">angusp</span>
      <span>Woo monospace. this is the 'qwassic' view, as opposed to the 'slick' one...</span>
    </div>
    <div>
      <span class="usermsgtime">12:06</span>
      <span class="usernick" style="color: #904C77;">@KitB</span>
      <span>I know right?!</span>
    </div>
    <div>
      <span class="usermsgtime">12:06</span>
      <span class="usernick" style="color: #D8AA52;">camerongray</span>
      <span>I'm a bit of a fud</span>
    </div>
    <div>
      <span class="usermsgtime">12:27</span>
      <span class="usernick" style="color: #048A81;">@angusp</span>
      <span>Slack-style is still waaaay better</span>
    </div>
    <div>
      <span class="usermsgtime">13:37</span>
      <span class="usernick" style="color: #2E5EAA;">salad</span>
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin convallis elit ut mauris dapibus, in ornare ligula convallis. Vestibulum pulvinar tincidunt tempus. Mauris a ligula auctor, suscipit dui id, varius nulla. Aliquam tincidunt eget purus eget finibus. Proin eu felis ex. Integer tortor erat, porttitor nec eros sit amet, faucibus tempor odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla interdum varius finibus. Cras commodo ornare eros, vitae auctor mauris vestibulum vitae. Nam nec venenatis metus. Vestibulum consequat accumsan justo, et finibus enim consequat vel. Donec nec vehicula lorem. Etiam euismod sollicitudin dui, eu elementum felis pretium id.</span>
    </div>
    <div>
      <span class="usermsgtime">12:06</span>
      <span class="usernick" style="color: #D8AA52;">camerongray</span>
      <span>\o/</span>
    </div>
    <div>
      <span class="usermsgtime">12:27</span>
      <span class="usernick" style="color: #048A81;">o/</span>
      <span> |</span>
    </div>
    <div>
      <span class="usermsgtime">12:27</span>
      <span class="usernick" style="color: #048A81;">o/</span>
      <span>/ \</span>
    </div>
    <div>
      <span class="usermsgtime">12:05</span>
      <span class="usernick" style="color: #048A81;">@angusp</span>
      <span><a href="https://www.youtube.com/watch?v=XZLN1PN3L4I" target=_blank>https://www.youtube.com/watch?v=XZLN1PN3L4IM</a></span>
    </div>
    
    <div>
      <span></span><!-- Padd out nick and time crap-->
      <span></span>
      <span><div class="richmedia panel panel-default">
          <div class="">
            <div class="embed-responsive embed-responsive-16by9 richmedia-embed">
              <iframe src="https://www.youtube.com/embed/XZLN1PN3L4I" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
          <div class="panel-footer">
            <span class="pull-right"><i class="fa fa-close"></i></span>
            <img class="embed-icon" src="http://s.ytimg.com/yts/img/favicon_48-vfl1s0rGh.png">
            <span class="spacer"></span>
            <span><a href="https://www.youtube.com/channel/UC3LqW4ijMoENQ2Wv17ZrFJA">PBS Idea Channel</a></span>
            <span class="spacer"></span>&rsaquo;<span class="spacer"></span>
            <span>Is Rick from Rick & Morty The Ideal Scientis&hellip;</span>
          </div>
    </div></span></div>

    <div>
      <span class="usermsgtime">12:06</span>
      <span class="usernick" style="color: #5FBFF9;">Jammy</span>
      <span>Etiam quis erat a metus bibendum vehicula sed id ex.</span>
    </div>
    
    <div>
      <span class="usermsgtime">12:06</span>
      <span class="usernick" style="color: #5FBFF9;">Jammy</span>
      <span>butts lol</span>
    </div>

    <div>
      <span class="usermsgtime">14:45</span>
      <span></span>
      <span class="notice"><span class="usernick" style="color: #048A81;">@angusp</span> has kicked <span class="usernick" style="color: #C42583;">neanias</span> - "Just because."</span>
    </div>

    <div>
      <span class="usermsgtime">13:37</span>
      <span class="usernick" style="color: #2E5EAA;">salad</span>
      <span>Cras commodo ornare eros, vitae auctor mauris vestibulum vitae. Nam nec venenatis metus. Vestibulum consequat accumsan justo, et finibus enim consequat vel. Donec nec vehicula lorem. Etiam euismod sollicitudin dui, eu elementum felis pretium id.</span>
    </div>

    <div>
      <span class="usermsgtime">13:37</span>
      <span class="usernick">*</span>
      <span><span class="usernick"  style="color: #FB3640;">tigo</span> murders a raspberry</span>
    </div>

    <div>
      <span class="usermsgtime">13:52</span>
      <span class="usernick" style="color: #048A81;">angusp</span>
      <span><a href="https://twitter.com/CompSoc/status/652776037592469505" target=_blank>https://twitter.com/CompSoc/status/652776037592469505</a></span>
    </div>

    <div>
      <span></span><!-- Padd out nick and time crap-->
      <span></span>
      <span><div class="richmedia panel panel-default">
          <div class="padder">
            <span class="pull-right"><i class="fa fa-close"></i></span>
            <img class="embed-icon" src="http://abs.twimg.com/favicons/favicon.ico">
            <br><br>
            <p lang="en" dir="ltr">If &quot;What even is API??!&quot; is literally you rn, take a look at <a href="http://t.co/v2pdglGLfm">http://t.co/v2pdglGLfm</a> for a beginners tutorial by <a href="https://twitter.com/TheGreySkies">@TheGreySkies</a> <a href="https://twitter.com/hashtag/LocalHackDay?src=hash">#LocalHackDay</a></p>&mdash; Computing Society (@CompSoc) <a href="https://twitter.com/CompSoc/status/652776037592469505">October 10, 2015</a>
          </div>
    </div></span></div>

    <div>
      <span class="usermsgtime">18:06</span>
      <span class="usernick" style="color: #C42583;">neanias</span>
      <span><a href="http://i.imgur.com/4aGwS.gif" target=_blank>http://i.imgur.com/4aGwS.gif</a></span>
    </div>

    <div>
      <span></span><!-- Padd out nick and time crap-->
      <span></span>
      <span><div class="richmedia panel">
          <div class="img-wrap">
            <img src="http://i.imgur.com/4aGwS.gif" class="img-responsive">
          </div>
          <div class="panel-footer">
            <span class="pull-right"><i class="fa fa-close"></i></span>
            <img class="embed-icon" src="http://s.imgur.com/images/favicon-32x32.png">
            <span class="spacer"></span>
            <span>Imgur</span>
            <span class="spacer"></span>&rsaquo;<span class="spacer"></span>
            <span>Imgur: The most awesome images on the Internet&hellip;</span>
          </div>
    </div></span></div>

    <div>
      <span class="usermsgtime">14:45</span>
      <span></span>
      <span class="notice"><span class="usernick" style="color: #048A81;">edran</span> has joined #compsoc.</span>
    </div>

    <div>
      <span class="usermsgtime">14:45</span>
      <span></span>
      <span class="notice"><span class="usernick" style="color: #048A81;">edran</span> has left #compsoc - "client.quit"</span>
    </div>
    
  </div><!-- /.chatwrap -->
</div><!-- /.chatblock -->




<footer class="input-field">
  <form>
    <input type="submit" value="send" id="submit" class="btn btn-default btn-hover-primary pull-right">
    <div class="input">
      <label for="text-in" id="nick">possel-user</label>
      <input type="text" id="text-in" style="padding-left: 7em;">
    </div>
  </form>
</footer>
